@import "bourbon/bourbon";
%middle{
	@include position(relative, 50% auto auto auto);
	@include transform(translateY(-50%));
}

%maximize{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

$break-small: 768px;

.container{
	@extend %maximize;
}

body{
	font-family: helvetica, arial;
	background:#000 url('../images/diamond-steal.jpg');
	@extend %maximize;
}

.leaderboard{

	width: 100%;
	max-width: 60em;
	margin: auto;

	@media screen and (min-width: $break-small) {
		@include position(relative, 50% auto auto auto);
		@include transform(translateY(-50%));
	}
	h1{
		text-align: center;
		img{max-width:80%; }
		@media screen and (min-width: $break-small) {
			img{
				width: auto;
				max-width:100%;
			}
		}
	}

	ul{
		background-color: rgba(0, 0, 0,0.9);
		color:white;
		border-radius: 20px;
		border:#d0cfcf solid 5px;
		list-style: none;
		padding: 0;
		margin: 0 10px;

		li{
			border-top: 1px solid rgba(32,88,137,0.15);
			text-align: center;
			@media screen and (min-width: $break-small) {
				padding: 14px 40px;
				overflow: hidden;
			}
			&:nth-child(1){
				border-top: none;
			}
		}
	}
}

h2{
	font-family: helvetica, arial;
	font-weight: 900;
	font-size: 18px;
	margin: 0;
	padding: 0;
	@media screen and (min-width: $break-small) {
		float: left;
	}
}

.mentions{

	color: #9e0b0f;
	font-size: 18px;
	font-weight: 900;
	@media screen and (min-width: $break-small) {
		float: right;
	}
	span{
		color: #ffffff;
		font-weight: 100;
		-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}
}

.animate-repeat {
	line-height:40px;
	list-style:none;
	box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	-webkit-transition:all linear 1s;
	transition:all linear 1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity:1;
}

.loading{
	text-align: center;
}