<div class="leaderboard">
	<h1><img src="images/hardcore.png" alt="hardcore"/><img src="images/produce.png" alt="produce"/></h1>
	<ul>
		<li ng-if="leaderboard.length==0" class="loading">Loading</li>
		<li class="animate-repeat" ng-repeat="item in leaderboard | orderBy:'-count' | limitTo:5">
			<h2>{{item.name}}</h2>
			<div class="mentions">{{item.count}} <span>mentions</span></div>
		</li>
	</ul>
</div>